<div class="area-before-table">
        <div class="dataset-select-block">
            <p> {{ text_table_choosing }} </p>
            <div class="select-dropdown">
                <select id="database-name-option">
                    <option selected value="{{ list[0] }}">{{list[0]}}</option>
                    {% for value in list[1:] %}
                    <option value="{{ value }}">{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>