{% extends 'base.html'%}
{% set active_page = "menu2" %}
{% set text_table_choosing = 'Выберите представление' %}
{% block content %}
<head>
    <title>Query tables</title>
</head>
<body>

<div>
    {% include 'area-before-table-data.html' %}
    <div class="my_table" id="table"></div>

    <div class="important-buttons">
        <a href="#" class="btn btn-success" id="export-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
                 viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            Экспорт таблицы в Excel
        </a>
    </div>

    <h3>Графики для таблицы "mistake_type_sum_by_work"</h3>
    <div id="viz_for_table" class="special_div">
        <div>
            <p>Корреляция по пирсону</p>
            <img src="../static/corrtable.png">
        </div>
        <div>
            <p>Распределение по типам</p>
            <img src="../static/dots.png">
        </div>
    </div>
    {% include 'system-messages-plugin.html' %}
</div>

<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="https://unpkg.com/gridjs/dist/gridjs.js"></script>
<script type="module" src="{{ url_for('static',filename='script//mainTableScript.js') }}"></script>
<script>
    const testName = "mistake_type_sum_by_work";
    const apiAdr = "/api/fetch_view";
    const downloadButtonApi = "/api/get_df_xlsx";
    const prepareBool = false;
    const customApi = "api/data";
        // глобально
    var currentDatasetName = testName;
</script>
</body>
{% endblock %}